.cs-course-seat-expired {
    background-color: #f00000;
    color: white;
    font-weight: bolder;
    padding: 3px;
}

.cs-course-seat-expireddate {
    color: #f00000;
}

.cs-course-seat-expiring {
    background-color: #F08000;
    color: white;
    font-weight: bolder;
    padding: 3px;
}

.cs-course-seat-expiringdate {
    color: #f08000;
}

.cs-course-seat-running {
    background-color: #00a000;
    color: white;
    font-weight: bolder;
    padding: 3px;
}

.cs-course-seat-unused {
    background-color: #bdc4d9;
    color: #51608c;
    font-weight: bolder;
    padding: 3px;
}

.cs-course-seat-expiringdate {
    color: #00a000;
}

.cs-course-seat-code {
    font-family: monospace;
}

.cs-course-seat-key {
    display: table-cell;
    font-weight: bolder;
    padding: 3px;
    width: 150px;
}

.cs-course-seat-value {
    display: table-cell;
    font-weight: normal;
    padding: 3px;
    width: 70%;
}

.cs-course-seat-value.monospace {
    font-family: monospace;
}

.cs-course-seat-bill {
    font-size: 2.5em;
    line-height: 2.2em;
}

.cs-course-seat-billitem {
    display: table-cell;
    font-size: 1.5em;
    line-height: 1.2em;
}

#cs-course-seat-toggler {
    float: right;
}

/* Initial state */
#cs-course-seats {
    display: none;
}