

<!-- block_shop_dicounts/discounts -->
<a name="discounts"></a>

<h3>{{{title}}}</h3>

{{#discounts}}
{{#hasform}}
<div class="shop-discount withform" id="shop-discount-{{id}}">
    <form name="discount{{id}}" id="shop-discount-{{id}}">
    <input type="hidden" name="view" value="{{view}}">
    <input type="hidden" name="id" value="{{shopid}}">
    <input type="hidden" name="discountreload" value="1">
    <input type="hidden" name="sesskey" value="{{sesskey}}">

    <div class="discount-label">
        {{{label}}}
    </div>

    <div class="discount-item">
        {{#istext}}
        {{#value}}
        <div class="discount-item has-value {{eligible}}">
            <span class="active-code {{verified}}" title="{{verifiedtext}}">{{value}}</span>
            <i class="icon shop-delete-code fa-remove fa"
                alt="{{#str}}clearcode, block_shop_discounts{{/str}}"
                data-name="{{{itemelm}}}"
                data-categoryid="{{categoryid}}"
                data-discountid="{{id}}"
                data-shopid="{{shopid}}"
                data-view="{{view}}"></i>
        </div>
        {{/value}}
        {{^value}}
        <div class="discount-item {{eligible}} d-flex">
            <input type="text" class="shop-discount-data" name="{{{itemelm}}}" placeholder="{{placeholder}}" value="{{{value}}}" data-discountid="{{id}}" />
            <button type="submit" value=""><i class="icon fa fa-check-circle text-light m-0"></i></button>
        </div>
        {{/value}}
        {{/istext}}
    </form>
</div>
{{/hasform}}

{{^hasform}}
<div class="shop-discount" id="shop-discount-{{id}}">
    {{{label}}}
</div>
{{/hasform}}
{{/discounts}}

<!-- /block_shop_dicounts/discounts -->